.forecast {
	width: 100%;
	color: var(--grey);
	border-radius: 10px;
	padding-top: 22px;
	padding-bottom: 18px;
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	column-gap: 2px;
	background-color: white;
}

.forecast::-webkit-scrollbar {
	display: none;
}

.forecast-item {
	width: 58px;
	height: 100%;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 8px;
	font-weight: 500;
}

.forecast-time {
	font-size: 12px;
}

.chance-of-rain {
	color: var(--blue);
	font-size: 10px;
	text-align: center;
}

.forecast-temp {
	font-size: 12px;
}

.forecast-temp > sup {
	font-size: 8px;
}

.weather-icon {
	width: 40px;
	height: 40px;
	object-fit: none;
}
