.location-container {
	background-color: white;
	border-radius: 20px;
	padding: 10px 24px;
	width: fit-content;
	color: var(--grey);
	font-size: 16px;
	font-weight: 500;
	display: flex;
	column-gap: 6px;
	align-items: center;
}
